# CLion / CMake build folders
cmake-build-debug/
cmake-build-release/
CMakeFiles/
CMakeCache.txt
compile_commands.json
Makefile

# IDE
.idea/
.vscode/

# macOS system files
.DS_Store

# Object / binary files
*.o
*.a
*.so
*.exe
*.out
